# ------------------------------------
# C / Makefile (Servidor y RPC)
# ------------------------------------
# Archivos objeto compilados
*.o

# Ejecutables finales generados por el Makefile
server
registro_server

# Ejecutables genéricos (por si compilas a mano o en Windows)
*.out
*.exe

# ------------------------------------
# Python (Cliente y Web Service)
# ------------------------------------
# Archivos de caché compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# ------------------------------------
# Sistema Operativo y Editores
# ------------------------------------
# Archivos basura de macOS y Windows
.DS_Store
Thumbs.db

# Archivos de configuración de VSCode (opcional)
.vscode/

# ------------------------------------
# Archivos de prueba y Entornos
# ------------------------------------
*.txt
*prueba.py

# Carpetas de entorno virtual (corregido con la barra diagonal)
.venv/
venv/
env/